body {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/dark-green.jpg');
}
/* Header */
.navbar-inverse {
  background: transparent;
  border-color: transparent;
}
.logo, .navbar-brand img {
  margin-top:-5px;
  height:35px;
  display:inline;
}
/* Small Period Table styles */
#SmallPeriodicTable {
  margin: 0 auto;
  background: black;
  position:absolute;
  margin-top: -150px;
  margin-left: 15px;
  z-index: 1000;
  width: 100%;
}
/* side legend */
#side-legend {
  position: absolute;
  width: 200px;
  right: 0;
  margin-right: 15px;
  top: 0;
  margin-top: 75px;
  border-radius: 10px;
  min-height: 100px;
  display:none;
  transition:0.5s;
}
#side-legend .list-group-item {
  background: rgba(255,255,255,0.7);
  font-size: 12px;
}
#side-legend .view-options {
  width: 100%;
}
#side-legend .toggle {
  margin-left: -5px;
  margin-right: 5px;
}
/* Periodic table */
.simple-element-list {
  margin: 0 auto;
  width: 650px;
}
.element {
  position: absolute;
  text-align: center;
  border: thin dotted #999;
  width: 34px;
  padding-top: 5px;
  height: 34px;
  box-shadow: 2px 2px 10px #333;
  background: #333;
  color: white;
  transition: 0.5s;
}
.element:hover {
  background: #111;
  cursor: pointer;
}
/* Atomic Stage styles */
#AtomicStage {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/dark-green.jpg');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.content {
  z-index: 1000;
  padding: 10px;
  position: absolute;
  left: 0;
  margin-top:60px;
  margin-left: 15px;
  color: #333;
  padding: 15px;
  background: white;
}
.information {
  position: absolute;
  bottom:0;
  background: rgba(255,255,255,0.7);
  color: black;
  padding: 15px;
  left: 50%;
  width: 300px;
  margin-left: -220px;
  margin-bottom: 55px;
  display: none;
}
.element-square {
  width: 30%;
  float:left;
}
.basic-info {
  width: 30%;
  float:left;
}
.quicklinks {
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 15px;
  position: absolute;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}
.quicklinks:hover {
  background: rgba(255,255,255,0.9);
  transition: 0.5s;
}
.quicklinks p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
/* About */
.main-body {
  margin-top: 60px;
}
.text-body {
  padding: 15px;
  background: rgba(255,255,255,0.8);
}
