body {
  background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) ), url('../img/dark-green.jpg');
}
#page-content-wrapper {
  position: relative !important;
}
/* Header */
.navbar-inverse {
  background: transparent;
  border-color: transparent;
}
.sidebar-brand a {
  font-size: 15px;
  color: white;
}
.logo, .navbar-brand img {
  margin-top:-5px;
  height:35px;
  display:inline;
}
.navbar-toggle {
  background: white;
  z-index: 1000;
  margin: 10px;
}
.navbar-toggle .icon-bar {
  background: #333;
  color: #333;
}
/* Small Period Table styles */
.sidebar-nav {
  position: relative;
}
.periodic-menu {
  padding: 20px;
}
.periodic-period {
  display: block;
  margin-top: 5px;
}
.periodic-menu .periodic-element {
  width: 40px;
  height: 40px;
  text-align:center;
  border: 1px dotted #333;
  float: left;
  padding-top: 10px;
  color: white;
}
.periodic-menu .periodic-element:hover {
  border: 1px dotted #ccc;
  background: #333;
  cursor: pointer;
}
.full-table {
  color: 'green';
  margin-left: 20px;
}
#bottom-legend {
  display: none;
  margin-left: 20px;
  position: absolute;
  max-width: 80%;
  bottom: 0px;
  background: rgba(255,255,255,0.5);
  padding: 15px;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#bottom-legend .badge {
  float: right;
  margin-left: 15px;
}
#bottom-legend h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
#bottom-legend button {
  margin-top: 5px;
}
#bottom-legend dl {
  margin-bottom: 0px;
  font-size: 12px;
}
#bottom-legend dl dd {
  margin-left: 100px;
}
#bottom-legend dl dt {
  width: 100px;
  text-align:left;
}
#bottom-legend .nameHistory {
  font-size: 12px;
}
#bottom-legend .info-table {
  margin-top: 10px;
  border: #eee;
}
#bottom-legend .element-link {
  margin-right: 30px;
  font-size: 12px;
  color: #3333ff;
  margin-top: 10px;
}
.dropdown-menu > li > a {
  padding: 5px 10px;
}
input[type=checkbox] {
  transform: scale(1.5);
  margin-left:0px;
  margin-right: 10px;
}
@media only screen and (max-width : 767px) {
  #bottom-legend {
    max-width: 90%;
    margin-left: 5%;
  }
  #bottom-legend dl dt {
    float: left;
  }
}
/*#SmallPeriodicTable {
  margin: 0 auto;
  background: black;
  position:absolute;
  margin-top: -150px;
  margin-left: 15px;
  z-index: 1000;
}
.element {
  position: absolute;
  text-align: center;
  border: thin dotted #999;
  width: 34px;
  padding-top: 5px;
  height: 34px;
  box-shadow: 2px 2px 10px #333;
  background: #333;
  color: white;
  transition: 0.5s;
}
.element:hover {
  background: #111;
  cursor: pointer;
}*/
/* Atomic Stage styles */
#AtomicStage {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../img/dark-green.jpg');
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.content {
  z-index: 1000;
  padding: 10px;
  position: absolute;
  left: 0;
  margin-top:60px;
  margin-left: 15px;
  color: #333;
  padding: 15px;
  background: white;
}
.information {
  position: absolute;
  bottom:0;
  margin-bottom: 55px;
  margin-left: 105px;
  background: rgba(255,255,255,0.7);
  color: black;
  padding: 15px;
  display: none;
}
.quicklinks {
  bottom: 0;
  right: 0;
  margin: 15px;
  padding: 15px;
  position: absolute;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}
.quicklinks:hover {
  background: rgba(255,255,255,0.9);
  transition: 0.5s;
}
.quicklinks p {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
/* About */
.main-body {
  margin-top: 60px;
}
.text-body {
  padding: 15px;
  background: rgba(255,255,255,0.8);
}
